@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght: @400;..500;700;..900&display=swap');

root {
  --primarytexscolor: #232e35;
  --secondarytexscolor: #656d72;

  --bordercolor: #f1f1f1;
  --linecolor: #d9d9d9;

  --primarybackgroundcolor: #ffff;
  --secondarybackgroundcolor: #fbfbfb;
  ---thirdbackgroundcolor: #5d5097;

  --primaryiconcolor: #7e74f1;
  --primaryiconcolorhover: #5d51e8;

  --sectionpadding: 6rem 0;

  --itemborderradius: 0.7rem;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 strong {
  color: var(--primarytexscolor);
}

p {
  font-size: 1rem;
  /*16px*/
  line-height: 1.9rem;

}

p,
span,
label,
input,
textarea,
li {
  color: var(--secondarytexscolor);
}

a {
  text-decoration: none;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}



/*Buttons*/
.btn {
  padding: 1rem 1.5rem;
  background: white;
  border: 1.5px solid var(--bordercolor);
  transition: .2s ease-in-out;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/*titles*/
.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}

/*title*/
.pre-title {
  text-transform: uppercase;
  letter-spacing: .5rem;
  color: var(--secondarytexscolor);
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;

}

.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--linecolor);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

/*layout*/
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

/*logo and navigation menu*/

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;

}

.logo a {
  color: var(--primarytexscolor);
}

nav ul li {
  display: flex;
  align-items: center;
}

.nav ul li a {
  color: var(--primarytexscolor);
}

/*burger*/
.burger div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all 0, 3s;
  z-index: 99;
}

.burger {
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}



header {
  margin-top: 5rem;
  padding-inline: 1rem;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

header::before {
  position: absolute;
  content: "";
  height: 100%;
  width: calc(100% - 2rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("images/awan.jpg");
  /* gambar awan di belakang */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3rem;
  z-index: -1;
}

.header__container {
  display: grid;
}

.header__content {
  padding: 4rem 1rem;
}

.header__content p {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}

.header__content h1 {
  margin-bottom: 2rem;
  font-size: 4.5rem;
  font-weight: 600;
  color: var(--text-dark);
  line-height: 5.5rem;
  text-align: center;
}

.header__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__btns .btn {
  padding: 1rem 2rem;
}

.header__btns a {
  padding: 9px 13px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--white);
  border-radius: 100%;
}

.header__btns a:hover {
  color: var(--white);
  background-color: var(--primary-color);
}



/*hero section*/
#hero {
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-name {
  font-size: 3rem;
  font-weight: 720px;
  margin: 0.5rem 0 1rem;
}

.hero-name span {
  color: var(--primaryiconcolor--);
}

.hero-right img {
  width: 90%;
}

.hero-right {
  display: flex;
  justify-content: center;
}

/* services*/
#services {
  background-color: var(--secondarybackgroundcolor);
  padding: var(--sectionpadding);

}

.services .pre-title {
  margin: 0 auto;
}

#services .main-container {
  text-align: center;
}

.service {
  padding: 3rem 2rem;
  text-align: center;
  background: #F5EFE6;
  border-radius: var(--itemborderradius);
}


.services-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}


@media (min-width: 601px) and (max-width: 900px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 901px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.service h4 {
  margin: 1.5rem;
  font-size: 1.05rem;
  font-weight: 500;
}

.service-icon {
  background-color: #f5f3fe;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
  display: inline-block;
}

.service-icon svg {
  fill: var(--primaryiconcolor);
  stroke: #7e74f1;
}



:root {
  --textcolor: #222;
  --textcolor-light: #666;
  --bordercolor: #ccc;
  --primaryiconcolor: #007bff;
  --sectionpadding: 4rem 2rem;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  color: var(--textcolor);
}

/* Section Titl3 */
.section-header {
  text-align: left;
  margin: 0 2rem;
}

/* .section-header h2 {
  font-size: 2rem;
  font-weight: 700;
} */

/* .section-header p {
  font-size: 1rem;
  color: var(--textcolor-light);
} */


.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: var(--sectionpadding);
}


.portfolio {
  border: 1px solid var(--bordercolor);
  border-radius: 0.7rem;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
}

.portfolio:hover {
  transform: translateY(-5px);
}


.portfolio-cover {
  height: 220px;
  overflow: hidden;
}

.portfolio-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.portfolio-info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.portfolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.portfolio-title h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

.portfolio-title a svg {
  fill: var(--textcolor-light);
  transition: 0.2s;
}

.portfolio-title a svg:hover {
  fill: var(--primaryiconcolor);
}


.portfolio-tags {
  display: flex;
  gap: 0.7rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.portfolio-tags span {
  font-size: 0.85rem;
  border: 1px solid var(--bordercolor);
  padding: 0.3rem 0.8rem;
  border-radius: 0.4rem;
  color: var(--textcolor-light);
}

.portfolio {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg) rotateX(0deg);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.portfolio:hover {
  transform: perspective(1000px) rotateY(15deg) rotateX(5deg) scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}





@media (max-width: 768px) {
  .section-header h2 {
    font-size: 1.6rem;
  }
}


/*skills & EDUCATION*/
#skills {
  padding: var(--sectionpadding);
  background: var(--secondarybackgroundcolor);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;

}

.education {
  display: flex;
  gap: 2rem;
}

.education .line {
  padding: 0 0.7rem;
  border-left: 2px solid var(--bordercolor);
  position: relative;
}

.education .line div {
  position: relative;
  margin-bottom: 3rem;
}

.education-info h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.education-info p {
  margin: 0.6rem 0 0.4rem;
  color: #555;
  font-size: 14px;
}

.education-years {
  margin-bottom: 3rem;
}

.education-info span {
  font-weight: bold;
  font-size: 13px;
  color: #b92626;
}


.education .line div::before {
  content: "";
  width: 15px;
  height: 15px;
  background: var(--bordercolor);
  border-radius: 50%;
  position: absolute;
  left: -7px;
  top: 0;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}

.skills-right {
  line-height: 2rem;
  padding: 0 1rem;
}



.medium {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  padding: 40px;
}

h2 {
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 320px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #555;
}

.tags {
  margin-bottom: 12px;
}

.tag {
  display: inline-block;
  background: #f1f1f1;
  color: #555;
  font-size: 0.8rem;
  padding: 4px 10px;
  border-radius: 20px;
  margin-right: 6px;
}

.card-desc {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.4;
}

*/

/*contact section*/
#contact {
  padding: 5rem 10%;
  background: #fff;
  margin-top: 4rem;

}

.contact-container {
  display: flex;
  margin-top: 4rem;
  /* background-color: red; */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: center;
}

/* ===== FORM ===== */
.contact-form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.contact-form div {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
}

.contact-form textarea {
  resize: none;
  min-height: 150px;
}

.contact-form button {
  padding: 1rem;
  border: none;
  background: #6c63ff;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.contact-form button:hover {
  background: #574fd6;
}

/* ===== COTACT INpO ===== */
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-item-icon {
  background: var(--thirdBackgroundColor, #f0edff);
  color: #484499;
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.contact-item-content h4 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  color: #222;
}

.contact-item-content p {
  margin: 0.2rem 0 0;
  color: #555;
  font-size: 0.95rem;
}

/*FOOTER*/

footer {
  background: #f7f7f7;
  padding: 60px 0 0;
  font-family: "Poppins", sans-serif;
}

.footer__container {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.footer__col {
  flex: 1;
  min-width: 200px;
}

.footer__col .logo {
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.footer__col p {
  margin: 15px 0;
  line-height: 1.6;
  color: #555;
  max-width: 310px;
}

.footer__socials {
  display: flex;
  gap: 12px;
  margin-top: 25px;
}

.footer__socials a {
  font-size: 18px;
  color: #444;
  width: 38px;
  height: 38px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.footer__socials a:hover {
  background: #000;
  color: #fff;
  border-color: #000;
}

.footer__col h4 {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.footer__links {
  padding: 0;
  margin: 0;
}

.footer__links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer__links a {
  text-decoration: none;
  color: #555;
  transition: 0.3s;
  font-size: 15px;
}

.footer__links a:hover {
  color: #111;
}

.footer__col form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 260px;
}

.footer__col input {
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.footer__col .btn {
  padding: 10px;
  border: none;
  background: #007bff;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}

.footer__col .btn:hover {
  background: #005dd8;
}

.footer__bar {
  text-align: center;
  padding: 20px 0;
  margin-top: 45px;
  border-top: 1px solid #ddd;
  color: #555;
  font-size: 13px;
}


/* RESPONSIVE */
@media (max-width: 950px) {
  .footer__container {
    flex-wrap: wrap;
    gap: 40px;
  }

  .footer__col {
    flex: 1 1 45%;
  }
}

@media (max-width: 600px) {
  .footer__container {
    flex-direction: column;
    text-align: center;
  }

  .footer__col form {
    margin: auto;
  }

  .footer__socials {
    justify-content: center;
  }
}

.footer__socials {
  list-style: none;

  padding: 0;
  margin: 25px 0 0;
  display: flex;
  gap: 12px;
}

.footer__socials li {
  list-style: none;

  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  margin-top: 0.1rem;
  height: 200px;
  overflow: hidden;
  position: relative;


  mask-image: linear-gradient(to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0));
}

.item {
  width: 200px;
  height: 100px;
  border-radius: 6px;
  position: absolute;
  left: 100%;
  animation: scrollleft 28s linear infinite;
  gap: 1rem;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

@keyframes scrollleft {
  from {
    left: 100%;
  }

  to {
    left: -200px;
  }
}

.item1 {
  animation-delay: calc(27s / 8 * (4 - 1));

}

.item2 {
  animation-delay: calc(27s / 8 * (4 - 2));

}

.item3 {
  animation-delay: calc(27s / 8 * (4 - 3));

}

.item4 {
  animation-delay: calc(27s / 8 * (4 - 4));

}

.item5 {
  animation-delay: calc(27s / 8 * (4 - 5));

}

.item6 {
  animation-delay: calc(27s / 8 * (4 - 6));

}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.wrapper img {
  max-width: 100px;
  height: auto;
  object-fit: contain;
}

@media (min-width: 768px) {
  .wrapper img {
    max-width: 130px;
  }
}

@media (min-width: 1024px) {
  .wrapper img {
    max-width: 150px;
  }
}

.tema h4 {
  color: #5d5097
}


/* pembukaan efek */

:root {

  --sectionpadding: 6rem 0;
  --itemborderradius: 0.7rem;

  /* NEW for 3D */
  --shadow3d: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* sepis epek */
.card,
.portfolio,
.service {
  background: #fff;
  border-radius: var(--itemborderradius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg) rotateX(0deg);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card:hover,
.portfolio:hover,
.service:hover {
  transform: perspective(1000px) rotateY(10deg) rotateX(5deg) scale(1.05);
  box-shadow: var(--shadow3d);
}

/* efek tombol esum */
.btn {
  padding: 1rem 1.5rem;
  background: white;
  border: 1.5px solid var(--bordercolor);
  border-radius: var(--itemborderradius);
  transition: all 0.3s ease;
  box-shadow: 0 4px 0 #d1d1d1;
  cursor: pointer;
}

.btn:active {
  transform: translateY(3px) scale(0.98);
  box-shadow: 0 1px 0 #aaa;
}

/* img */
.hero-right img {
  width: 90%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.hero-right img:hover {
  transform: perspective(800px) rotateY(-10deg) rotateX(4deg) scale(1.05);
}