@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap');

* {
  font-family: "ABeeZee", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 12.5%;
  background: yellowgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a {
  position: relative;
  font-size: 16px;
  color: #e4e4e4;
  text-decoration: none;
  font-weight: 500;
  margin-right: 30px;
}

.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #e4e4e4;
  border-radius: 5px;
  transform: translateY(10px);
  transition: .5s;
  opacity: 0;
}

.navbar a:hover::after {
  transform: translateY(0);
  opacity: 1;
}

.search-bar {
  width: 250px;
  height: 45px;
  background: transparent;
  border: 2px solid #e4e4e4;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0 6px;
}

.search-bar input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #e4e4e4;
  padding: 6px;
}

.search-bar input::placeholder {
  color: #e4e4e4;
  opacity: 0.85;
}

.search-bar button {
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #e4e4e4;
}

.search-bar button:hover {
  background: rgba(255,255,255,0.03);
  border-radius: 4px;
}
